.title{
  background-image: url("../images/h_img.jpg");
  padding: 15%;
}
.services{
  background-image: url("../images/s_image.jpg");
  padding: 7%;
  color: white;
}
h1{
  color: white;
  font-weight: 450;
  font-size: 50px;
}
h6{
  color: white;
}
.mouse{
  bottom: 1px;
  position: absolute;
}

#design-showing{
  display: none;
}
#dev-showing{
  display: none;
}
#product-showing{
  display: none;
}
.contact{
  height: 500px;
  padding: 40px 0px;
  background-image: url("../images/c_image.jpg");
}
h2 form{
  display: block;
}
#email{
  width: 400px;
  background: transparent;
  margin-left: 20px;
  padding-left: 10px;
}
#name{
  width: 400px;
  background: transparent;
  padding-left: 10px;
}
#text{
  height: 300px;
  width: 820px;
  background: transparent;
  padding-left: 9px;
  padding-top: 12px;
}
::placeholder{
  color: white;
}
.contact{
  color: white;
}
h4{
  font-weight: 550;
}
h2{
  font-weight: 450;
}
.work {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  font-weight: 1000;
  font-size: 20px;
}

.hover:hover .work {
  opacity: 1;
}
 